.users {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.playground {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.leeroy {
    position: absolute;
    height: 100vh;
    width: 100vw;

    svg {
        position: absolute;
        width: 100vw;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        path {
            fill: black;
        }
    }
}

.users .user {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    overflow: hidden;
    margin-left: -55px;
    margin-top: -55px;
}

.user svg {
    path {
        fill: black;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotatinginverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* .rotating {
    animation: rotating 2s linear infinite;
    transform-origin: 50%;
}

.rotatinginverse {
    transform-origin: 50%;
    animation: rotatinginverse 2s linear infinite;
} */