.users {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.playground {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

.webgl {
    position: absolute;
    top: 0;
    left: 45vw;
    width: 55vw;
    height: 100vh;
    outline: none;
}

.leeroy {
    position: absolute;
    height: 100vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    svg {
        width: 80%;
        
        path {
            fill: white;
        }
    }

    p {
        margin-left: 3.6vw;
        font-family: Regular;
        line-height: 1.7em;
        color: grey;
        width: 90%;
    }
}

.users .user {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    overflow: hidden;
    margin-left: -55px;
    margin-top: -55px;
}

.user svg {
    path {
        fill: black;
    }
}